.containerBody {
    border: 1px solid #FFFFFFB2;
    padding: 30px;
    margin: 80px 150px 200px 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.imgDesktop {
    background-color: rgba(0, 0, 0, 0.01);
}

.containerBody a {
    width: 30px;
    background-color: rgba(0, 0, 0, 0.01);
}

.section1 {
    display: flex;
    background-color: rgba(0, 0, 0, 0.01);
}

.divInfos {
    padding: 50px;
    text-align: start;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.01);

}

.divInfos p {
    color: #FFFFFFB2;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.01);
}

.titleProject {
    background-color: rgba(0, 0, 0, 0.01);
    font-size: 35px;
}

.divImgs {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: -50px;
    margin-left: 50px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.01);
}

.divImgs div {
    background-color: rgba(0, 0, 0, 0.01);
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 50px; */
    margin: 0 auto;
}

.img {
    background-color: rgba(0, 0, 0, 0.01);
    margin-right: 50px;
}

.img2 {
    background-color: rgba(0, 0, 0, 0.01);
    margin-right: 50px;
}

.divVideo {
    position: relative;
    left: -300px;
    margin-top: 80px;
}

.divVideo div {
    position: relative;
    top: 60px;
    right: 40px;
}

.imgRecVerde {
    position: absolute;
    right: 90%;
    width: 80px;
    height: 80px;
    background-color: #009661;
    left: 25px;
}

.imgRecPreto {
    position: absolute;
    right: 90%;
    width: 80px;
    height: 80px;
    background-color: #000;
    left: 25px;
}

.imgRecAzul{
    position: absolute;
    right: 90%;
    width: 80px;
    height: 80px;
    background-color: #296CF3;
    left: 25px;
}

.imgRecCinza {
    position: absolute;
    right: 90%;
    width: 40px;
    height: 40px;
    background-color: #98ABBB;
    left: 26px;
    top: 25px;
}


.bola {
    background-color: transparent;
}



@media (min-width: 1600px) {
    .divVideo {
        right: 330px;
    }
}

.containerBodyMobileApp {
    border: 1px solid #FFFFFFB2;
    padding: 40px;
    margin: 80px 150px 150px 150px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 1200px;
}

.containerBodyMobileApp a {
    width: 30px;
    background-color: rgba(0, 0, 0, 0.25);
}

.section1MobileCronosPc {
    display: flex;
    background-color: rgba(0, 0, 0, 0.01);
}

.divInfosMobileCronosPc {
    padding: 50px;
    text-align: start;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.01);
}

.divInfosMobileCronosPc p {
    color: #FFFFFFB2;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.01);
}

.titleProjectMobile {
    background-color: rgba(0, 0, 0, 0.01);
    font-size: 35px;
}

.divImgsMobileCronosPc {
    width: 69%;
    display: flex;
    flex-direction: column;
    gap: -50px;
    margin-left: 30px;
    margin-top: 70px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.01);
}

.containerImgsCronosPc {
    display: flex;
    flex-direction: row;
}

.divImgsMobileCronosPc div {
    position: relative;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.01);
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}

.imgMobile {
    background-color: rgba(0, 0, 0, 0.01);
    margin-left: 130px;
}

.divVideoMobileCronosPc {
    position: relative;
    right: 220px;
    top: 100px;
}

.divVideoMobileCronosPc div {
    position: relative;
    top: -40px;
    right: -70px;
}

@media (min-width: 1630px) {
    .divInfos {
        width: 32%;
    }

    .divInfos P {
        font-size: 25px;
    }

    .titleProject {
        font-size: 45px;
    }

    .img {
        height: 560px;
        width: 1050px;
    }

    .img2 {
        height: 580px;
        width: 1050px;
    }

    .divVideo video {
        width: 1700px;
    }

    .divVideo {
        position: relative;
        left: -720px;
        margin-top: 0px;
    }
    
    .divVideo div {
        position: relative;
        top: 60px;
        right: 40px;
    }
}