.containerIntrodução {
  display: flex;
  gap: 40px;
  padding: 50px;
  justify-content: center;
}

.bio {
  width: 300px;
}

.bio span {
  border: 1px solid #0076FF;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bio h2  {
  color: #FFFFFF;
  font-size: 35px;
}

.bio h3 {
  color: #FFFFFFB2;
  font-size: 25px;
}

.bio p {
  color: #FFFFFFB2;
  display: flex;
  text-align: start;
}

.containerLogoIntrodução {
  margin-top: 40px;
  justify-content: center;
  gap: 30px;
  display: flex;
}

.destaqueNumero {
  color: #0076FF;
  font-weight: bold;
  font-size: 5rem;
}

.destaqueTexto {
  font-weight: bold;
  font-size: 0.8rem;
  color: #0076FF;
}

.info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info p {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
}

.containerServicos {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.containerEsq {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
  gap: 60px;
  width: 43%;
}

.tituloServico{
  color: #FFFFFF;
  font-size: 40px;
}

.containerCard {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 5px;
}

.containerDir {
  display: flex;
  flex-direction: column;
  width: 45%;
  position: relative;
  bottom: 80px;
  left: 60px;
}


.teste33 {
  position: relative;
  /* bottom: 50px; */
  font-size: 15px;
  width: 2px;
  /* height: 1px; */
  /* right: 1px; */
  background-color: #fff;
}

.carouselLine {
  position: relative;
  bottom: 100px;
  /* margin-left: 20px; */
  /* left: 0px; */
  color: #fff;
  background-color: #fff;
  width: 800px; 
  height: 3px; 
}

.carouselLineLast {
  position: relative;
  bottom: 100px;
  margin-right: 20px;
  /* left: 0px; */
  color: #fff;
  background-color: #fff;
  width: 580px; 
  height: 3px; 
}

.bar {
  position: relative;
  bottom: 100px;
  left: 0px;
  width: 2px;
  font-size: 15px;
  color: #fff;
  background-color: #fff;
}

.myProjects {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  bottom: 100px;
}

@media (min-width: 1630px) {
  .containerIntrodução {
    gap: 130px;
    justify-content: space-evenly;
  }

  .containerServicos {
    justify-content: center;
  }

  .containerDir {
    width: 37%;
  }
}