.container {
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 118, 255, 0.15);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 35px;
    gap: 20px;
    width: 90%;  
    height: 240px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box; 
    transition: .3s;
}

.projetoCronos {
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 118, 255, 0.15);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    gap: 20px;
    width: 90%; 
    height: 480px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    transition: .3s;

}

.divEsq {
    width: 16%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
}

.divEsq h2 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.01);
    font-size: 20px;
}

.divEsq a {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 3px 7px 3px 7px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.divDir {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    /* z-index: ; */
    background-color: rgba(0, 0, 0, 0.01);

    height: 100px;
}


.imgs {
    background-color: rgba(0, 0, 0, 0);
}

@media (min-width: 1630px) {
    .imgs {
        height: 430px;
        width: 430px;
    }
}



@media (min-width: 1100px) and (max-width: 1200px) {

    .imgs {
        height: 270px;
        width: 270px;
    }

    .divEsq h2 {
        font-size: 18px;
    }

    .divEsq a {
        padding: 3px 7px 3px 7px;
        width: 130px;
    }

    .divDir {
        margin-left: 0;
    }
}

@media (min-width: 995px) and (max-width: 1100px) {

    .imgs {
        height: 240px;
        width: 240px;
    }

    .divEsq h2 {
        font-size: 18px;
    }

    .divEsq a {
        padding: 3px 7px 3px 7px;
        width: 130px;
    }

    .divDir {
        margin-left: 0;
    }
}

@media (min-width: 854px) and (max-width: 995px) {

    .imgs {
        height: 200px;
        width: 200px;
    }

    .divEsq h2 {
        font-size: 18px;
    }

    .divEsq a {
        padding: 3px 7px 3px 7px;
        width: 130px;
    }

    .divDir {
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 854px) {

    .imgs {
        height: 180px;
        width: 180px;
    }

    .divEsq h2 {
        font-size: 18px;
    }

    .divEsq a {
        padding: 3px 7px 3px 7px;
        width: 130px;
    }

    .divDir {
        margin-left: 17px;
    }
}

@media (min-width: 1630px) {
    .container {
        height: 320px;
    }

    .divEsq h2 {
        font-size: 40px;
    }
    
}


.container:hover {
    transform: scale(1.02);
    transition: .3s;
    box-shadow: 0 0 15px 5px rgba(0, 0, 255, 0.5);
}

.projetoCronos:hover {
    transform: scale(1.02);
    transition: .3s;
    box-shadow: 0 0 15px 5px rgba(0, 0, 255, 0.5);
}