.container {
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 118, 255, 0.15);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    gap: 20px;
    max-width: 650px;
    height: 130px;
    margin: 0 auto;
    position: relative;
}

.image {
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0);
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.01); 
    padding: 10px; 
}

.title {
    font-size: 22px;
    margin: 0 0 10px 0;
    background: linear-gradient(178deg, #fff, #001234);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    position: relative;
}

.description {
    color: #cfcfcf;
    font-size: 14px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

