.divMobile {
    overflow-y: none;
}

.containerAbout {
    display: flex;
    align-items: center;
    padding: 30px;
}

.containerAbout p{
    color: #FFFFFFB2;
    text-align: start;
    font-size: 15px;
}

.title{
    color: #FFFFFFB2;
    font-size: 22px;
}

.name {
    color: #FFF;
    font-size: 27px;
}

.containerTitleAboutMobile {
    display: flex;
    justify-content: center;
    gap: 23px;
    align-items: center;
}

.containerEsqMobile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.containerEsqMobile div {
    color: #FFFFFF80;
    font-weight: bold;
    font-size: 15px;
}

.containerNome {
    color: #fff;
}

.containerNome p {
    text-align: end;
    font-weight: bold;
    color: #FFFFFFB2;
}

.linhaBranca {
    color: #fff;
    background-color: #fff;
    width: 0.5%; 
    height: 70px; 
}

.containerLogoIntrodução {
    display: flex;
    gap: 15%;
    justify-content: center;
    margin-top: 30px;
}

.containerFotoMobile {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.divTextoMobile {
    color: #FFFFFFB2;
    text-align: justify;
    padding: 30px;
}

.containerLogosMobile {
   display: flex;
   justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.containerDirAbout {
    margin-right: 90px;
}

.carouselLine {
    position: relative;
    bottom: 100px;
    color: #fff;
    background-color: #fff;
    width: 10%; 
    height: 3px; 
}

.carouselLineMobile {
    position: relative;
    bottom: 89px;
    color: #fff;
    background-color: #fff;
    width: 20%; 
    height: 3px; 
}

.carouselLineLast {
    position: relative;
    bottom: 100px;
    left: -700px;
    color: #fff;
    background-color: #fff;
    width: 20px; 
    height: 3px; 
}

.carouselLineLastMobile {
    position: relative;
    bottom: 89px;
    left: -20px;
    color: #fff;
    background-color: #fff;
    /* width: 90px;  */
    height: 3px; 
}
  

.bar {
    position: relative;
    bottom: 100px;
    left: -2.5px;
    width: 10px;
    font-size: 25px;
    color: #fff;
}

.barMobile {
    position: relative;
    bottom: 89px;
    left: -2.3px;
    width: 10px;
    /* height: 30px; */
    font-size: 22px;
    color: #fff;
    /* border: 1px solid red; */
}

.sectionCarousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
 
}

.sectionCarousel div {
    width: 1300px;
}

.sectionCarouselMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.sectionCarouselMobile div {
    width: 400px;
    margin-left: 2px;
    /* margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; */
}
